{
  "extends": ["next", "prettier", "plugin:tailwindcss/recommended"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": ["error", { "allow": ["error"] }],
    "no-var": "error",
    "no-html-link-for-pages": "off"
  }
}
